body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width:150px;
    border: 2px solid #b5e48c;
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d9ed92;
    color: #34a0a4;
    border-bottom: 6px solid #b5e48c;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}




@keyframes MyAnimation {
    0%   {color:#34a0a4;}
    10%  {color:#168aad;}
    20%  {color:#1a759f;}
    30%  {color:#1e6091;}
    40%  {color:#184e77}
    60%  {color:#1e6091;}
    70%  {color:#1a759f;}
    80%  {color:#168aad;}
    90%  {color:#34a0a4;}
    
    from {top: 0px;}
    to {top: 100px;}
}
.text:hover {
    animation-name: MyAnimation;
    animation-duration: 4s;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
